.supplier-action-modal{
  .modal-dialog {
    max-width: 450px !important;
    .modal-content{
      .modal-footer{
        margin: 20px 0 10px;
        padding: 0px !important;
      }
    }
  }
  .form-wrapper {
    input {
      width: 100%;
      border: 1px solid $gray;
    }
    textarea {
      width: 100%;
      color: $gray-dark;
    }
  }
}
// ****responsive------------------------
@media screen and (max-width: 1199.98px) {

}
@media screen and (max-width: 991.98px) {

}
@media screen and (max-width: 767.98px) {

}
@media screen and (max-width: 575.98px) {
  .supplier-action-modal{
    .modal-dialog {
      margin: 0;
      .modal-content {
        border-radius: 0;
      }
    }
  }
}
