.report-sales-by-month-page {
  .page-title {
    margin: 0 0px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 10px;
    h3 {
      display: inline-block;
      margin-top: 10px;
      padding-left: 0;
      font-weight: 900;
      font-size: 18px;
    }
  }
  .filter-wrapper {
    margin-bottom: 15px;
    padding: 15px 10px;
    background: $white;
    .filter {
      .form-group {
        margin-bottom: 0;
        label {
          display: inline-block;
          width: 85px;
        }
        input {
          height: 30px;
          border: 1px solid $gray;
        }
        &.prepaid-sales-counting {
          display: flex;
          align-items: center;
          margin-top: 15px;
          &>label {
            width: 160px;
          }
          .form-btn-group {
            label {
              line-height: 24px;
            }
          }
        }
      }
    }
    .filter-search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        width: 120px !important;
        height: 36px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        text-align: center;
        outline: 0;
        i {
          height: 19px;
          margin-right: 5px;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .chart-wrapper {
    height: auto;
    margin-bottom: 15px;
    background: $white;
    .display-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px;
      label {
        margin-right: 10px;
      }
      select {
        width: 200px;
      }
    }
    canvas {
      padding: 10px;
    }
  }
  .table-wrapper {
    padding: 10px;
    background: $white;
    table {
      tbody {
        tr {
          &:last-of-type {
            background: $gray;
          }
          &:first-of-type {
            background: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .report-sales-by-month-page {
    .filter {
      .input-month-range {
        &>label {
          width: 85px;
          margin-right: 5px;
        }
        &>.field {
          margin-right: 5px;
        }
        &>.between {
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .report-sales-by-month-page {
    .filter {
      .input-month-range {
        &>.field {
          label {
            display: none;
          }
        }
      }
    }
    .filter-search {
      justify-content: center !important;
      margin: 10px;
    }
  }
}

@media (max-width: 575.98px) {
  .report-sales-by-month-page {
    .filter {
      .input-month-range {
        &>label {
          width: 85px;
          margin-right: 5px;
        }
        &>.field {
          select {
            width: 55px;
          }
        }
      }
    }
  }
}