.box-item-prepaid-card{ 
  .box-i{
    width: 100%;
    float: left;
    padding: 5px;
    .box-i-body{
      .list-group{
        display: block;
        max-height: 500px;
        overflow-y: auto;
        .item-two{
          width: 50%; 
          display: inline-block;
        }
        .list-group-item{
          border-radius: 0 !important;
          padding: 5px;
          float: left;  
          display: flex;
          height: 45px;  
          border-radius: 0 !important;
          padding: 0px;  
          span{
            display: inline-flex;
            border-left: 1px solid $gray;
            div{
              margin: auto;
            }
          }
          .no{ 
            width: 25px;
            padding: 0; 
            margin-left:-1px ;
          }
          .name{ 
            padding: 5px;
            width: calc( 100% - 29px); 
          } 
          &:hover{
            cursor: pointer;
          }
        }
      }
      .lb-total-items{
        font-size: 12px;
        margin-top: 2px;
      } 
      h3{
        background-color: $blue-dark;
        color: $white; 
        line-height: 30px;
        text-indent: 10px;
      } 
      
    }
  }
} 