.stock-adjustment-history {
  .page-title {
    margin: 0 0px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 10px;
    h3 {
      display: inline-block;
      margin-top: 10px;
      padding-left: 0;
      font-weight: 900;
      font-size: 18px;
    }
    .group-btn {
      float: right;
      .btn {
        a {
          color: $white;
        }
      }
    }
  }
  .filter-wrapper {
    margin-bottom: 15px;
    padding: 15px 10px 5px;
    background: $white;
    .filter {
      display: flex;
      justify-content: flex-start;
      .form-group {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
      }
      input {
        height: 30px;
        border: 1px solid $gray;
      }
      .date-range {
        margin-right: 30px;
        label {
          width: 82px;
        }
        .popover-container {
          display: inline-block;
          &:first-of-type {
            margin-right: 5px;
          }
          input {
            padding: 0 5px;
          }
        }
      }
      .product {
        margin-right: 30px;
        width: 220px;
        label {
          width: 56px;
        }
        input {
          display: inline-block;
          max-width: calc(100% - 60px);
          min-width: 160px; 
          padding: 0 5px;
        }
      }
      .action {
        width: 220px;
        label {
          width: 48px;
        }
        .custom-select {
          display: inline-block;
          max-width: calc(100% - 52px);
          min-width: 160px;
          height: 30px;
        }
      }
    }
    .filter-search {
      .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        width: 120px !important;
        height: 36px;
        margin-top: -3px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        text-align: center;
        outline: 0;
        i {
          height: 19px;
          margin-right: 5px;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .table-stock-adjustment-history {
    padding: 10px;
    background: $white;
  }
}

@media (max-width: 991.98px) { // md from 768px
  .stock-adjustment-history {
    .filter-wrapper {
      .filter {
        .date-range {
          input {
            width: 100px;
          }
        }
        .product {
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) { // sm from 576px
  .stock-adjustment-history {
    .page-title h3 {
      margin-top: 5px;
    }
    .filter-wrapper {
      .filter {
        display: block;
        .date-range {
          input {
            width: 150px;
          }
        }
        .product {
          width: 100%;
          label {
            width: 82px;
          }
          input {
            width: 309px;
          }
        }
      }
      .filter-search {
        .btn {
          height: 70px;
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 575.98px) { // xs from 360px
  .stock-adjustment-history {
    .page-title h3 {
      font-size: 16px;
    }
    .filter-wrapper {
      padding-bottom: 15px;
      .filter {
        display: block;
        .date-range {
          margin-right: 0;
          input {
            width: 115px;
          }
        }
        .product {
          width: 100%;
          margin-right: 0;
          label {
            width: 82px;
          }
          input {
            width: calc(100% - 86px);
          }
        }
      }
      .filter-search {
        display: flex;
        justify-content: center;
        .btn {
          height: 36px;
          margin-top: 5px;
        }
      }
    }
  }
}