.receiving-item-add-action-modal{
  #receiving-item-add-action-modal {
    &>.modal-dialog {
      max-width: 900px;
    }
  }
  .modal-body{
    &>.filter{
      margin-bottom: 10px;
      input{
        float: left;
        width: 200px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid $gray;
      }
      .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 30px !important;
        height: 30px;
        padding: 0 !important;
        i {
          height: 20px;
        }
      }
      div{
        &:nth-child(2){
          text-align: right;
          select{
            height: 30px;
            width: 150px;
          }
        }
      }
    }
    table {
      tbody {
        tr {
          td {
            input {
              height: 30px;
              padding: 3px 5px;
            }
          }
        }
      }  
    }
  }
  .modal-footer{
    margin: 0px !important;
    padding: 0px !important;
  }
}
// ****responsive------------------------
@media screen and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
  .receiving-item-add-action-modal{
    #receiving-item-add-action-modal {
      &>.modal-dialog {
        max-width: 95%;
        .modal-body > .filter{
          input {
            width: 150px;
          }
          .search {
            width: 70px;
            padding: 0;
            text-align: center;
            line-height: 28px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767.98px) {
}
@media screen and (max-width: 575.98px) {
  .receiving-item-add-action-modal .modal-body > .filter {
    .product-category {
      width: 100% !important;
    }
  }
}
