
//===========================================
// ELEMENT 
//   text
//-------------------------------------------
// h1 {

// }
// h2 {

// }
// h3 {

// }
// h4 {

// }
// h5 {

// }
// h6 {

// }

.text-tiny {
  font-size: $font-tiny;
}
.text-small {
  font-size: $font-small;
}
.text-medium {
  font-size: $font-medium;
}
.text-large {
  font-size: $font-large;
}
.text-huge {
  font-size: $font-huge;
}