/*-------------------------------------------
VARIABLE
  color
  font
  grid
  responsive
---------------------------------------------*/


//===========================================
// VARIABLE 
//   color
//-------------------------------------------
$white:         #fff    !default;
$gray-lighten:  #f2f2f2 !default;
$gray-light:    #dee2e6 !default;
$gray:          #adb5bd !default;
$gray-dark:     #495057 !default;
$black:         #000    !default;

$pink:          #ff91b0 !default;
$red-dark:      #db3c44 !default;
$red:           #f3331f !default;
$orange-dark:   #fcb735 !default;
$orange:        #fad58e !default;
$yellow:        #f6de78 !default;

$green-lighten: #e0eec8 !default;
$green-light:   #c1de92 !default;
$green:         #57c386 !default;
$green-dark:    #2eb398 !default;
$cyan-light:    #e0f3fa !default;
$cyan:          #62cccf !default;
$cyan-dark:     #c9e0e0 !default;
$blue-lighten:  #e1f0fa !default;
$blue-light:    #38bae6 !default;
$blue:          #3499db !default;
$blue-gray:     #2b5163 !default;
$blue-dark:     #254554 !default;
$blue-darken:   #1f3d4b !default;
$indigo:        #4a148c !default;
$violet:        #9c27b0 !default;
$purple-light:  #d1c4e9 !default;
$purple:        #7c79b6 !default;



//===========================================
// VARIABLE 
//   font
//-------------------------------------------
$font: 'Nanum Gothic', 'sans-serif';

$font-tiny: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-large: 18px;
$font-huge: 24px;

$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;

$font-20: 20px;
$font-21: 21px;
$font-22: 22px;
$font-23: 23px;
$font-24: 24px;
$font-25: 25px;
$font-26: 26px;
$font-27: 27px;
$font-28: 28px;
$font-29: 29px;

$font-30: 30px;
$font-31: 31px;
$font-32: 32px;

$font-40: 40px;

