.campaign-report-clients-analysis {
  border: 1px solid #aaa;
  padding: 30px;

  .campaign-report-clients-analysis__title {
    border-bottom: 1px solid #a7a9a9;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .table-visited-clients-ratio {
    width: 100%;
  }
}
