.report-booking-deposit-summary-page {
  .page-title {
    margin: 0 0px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 10px;
    h3 {
      display: inline-block;
      margin-top: 10px;
      padding-left: 0;
      font-weight: 900;
      font-size: 18px;
    }
    .group-btn {
      float: right;
      .btn {
        display: inline-block;
        width: 150px !important;
        a {
          display: block;
          color: $white;
        }
      }
    }
  }
  .filter-wrapper {
    margin-bottom: 15px;
    padding: 15px 10px;
    background: $white;
    .filter {
      .input-date-range-by-date-type {
        display: inline-flex;
        width: auto;
        height: 100%;
        margin-right: 30px;
      }
      .radio-group {
        display: inline-flex;
      }
    }
    .filter-search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        width: 120px !important;
        height: 36px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        text-align: center;
        outline: 0;
        i {
          height: 19px;
          margin-right: 5px;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .table-wrapper {
    padding: 10px;
    background: $white;
    table {
      thead {
        th {
          border: 1px solid $gray;
          vertical-align: middle;
        }
      }
      tbody {
        tr {
          td {
            text-align: left;
          }
        }
      }
    }
  }
}