.truncate-overflow {
  --lh: 21px;
  --max-lines: 3;
  line-height: var(--lh);
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.sales-page {
  .client-search {
    .client-result {
      .table-intro {
        width: 100%;
        padding: 10px 10px 0;
        background: $white;
      }
      .table-data {
        padding: 5px 10px 10px;
        background: $white;
      }
    }
  }
  .client-unregistered {
    &>div {
      &:nth-child(odd) {
        padding-right: 5px;
      }
      &:nth-child(even) {
        padding-left: 5px;
      }
    }
    .intro {
      height: 250px;
      padding: 10px;
      background: $white;
      box-shadow: 2px 2px 2px $gray;
      p {
        margin-bottom: 10px;
        font-size: 13px;
      }
    }
    .add-sales {
      position: relative;
      height: 250px;
      padding: 10px;
      background: $white;
      box-shadow: 2px 2px 2px $gray;
      .btn-group {
        position: absolute;
        bottom: 10px;
        width: calc(100% - 20px);
        &>.btn {
          border-radius: 4px;
          color: $white;
          &:nth-child(odd){
            margin-right: 5px;
          }
          &:nth-child(even){
            margin-left: 5px;
            background: $blue-light;
            &.disabled {
              background: $gray;
            }
          }
        }
      }
    }
  }
  .unregistered-sales-today {
    margin-top: 10px; 
    .sales-data {
      background: $white;
      padding: 10px;
      .intro {
        padding-bottom: 5px;
      }
    }
  }
}

.client-information-box {
  .not-selected-client {
      margin-bottom: 10px;
      .box {
          float: left;
          background-color: #fff;
          box-sizing: border-box;
          border: 0 solid #000 !important;
          padding: .75rem;
          width: 49.5%;
          min-height: 249px;
          border-radius: 3px;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
          p, span {
              font-size: 13px;
          }
      }
      .box1 {
          margin-right: 1%;
      }    
  }
  .not-selected-client {
    .box2.por {
      position: relative;
      .buttonbox-bottom {        
        width: 100%;
        position: absolute;
        left: 0; bottom: 0;     
        ul {
          li {
            width: 50%;
            box-sizing: border-box;
            .btn.default {
              display: block;
              width: 100% !important;
            }
          }
          li:nth-of-type(1) {
            padding: .75rem .3rem .75rem .75rem;
          }
          li:nth-of-type(2) {
            padding: .75rem .75rem .75rem .3rem;
          }
        }
      }
    }
  }

  .info-box-top.mobile {
      display: none;
      .box {
          width: 100%;
      }
      .box1 {
          margin-right: 0;
      }
  }
  .client-info-invoice {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    .tabbox-table {
      margin-top: 3px;
    }
    .cl-info-inner.mobile {
      display: none;
      table.normal {
        th, td {
            font-size: 13px;
            text-align-last: left;
            padding: .5rem;
        }
      }
      .show-mobile-text-box {
        position: relative;
        .show-more-text {
            position: absolute;
            right: 0; top: 50%;
            margin-top: -8.5px;
        }
        .show-more-text.on {
            right: 0.5rem;
            margin-top: -6.5px;
            transform: rotate(-90deg);
        }
      }
    }
  }

  //custom-tooltip
  .tool-client-invoice {
      padding: 0;
      margin: 0 !important;
      .btn.btn-secondary {
          border: 0 solid #000;
          background-color: transparent;
          color: #000;
          margin: 0;
          text-align: center;
          padding: 0 !important;
          font-size: 13px;
          width: 100% !important;
      } 
  }

  //carousel
  .carousel {
      float: left;
      width: 100%; 
      height: auto;
      color: #fff;
      overflow: hidden;
      background: transparent !important;
      .carousel-inner {
          overflow: visible;
      }
      .carousel-caption {
          color: #000;
          text-shadow: none;
          position: static;
          padding: 0;
          text-align: left;
      }
      .carousel-control-prev-icon {
          background-image: url(../../template/images/common/control-prev-icon.png);
      }
      .carousel-control-next-icon {
          background-image: url(../../template/images/common/control-next-icon.png);
      }
  }
}



// ****responsive------------------------
@media (max-width: 1199.98px) { // lg 992

}
@media (max-width: 991.98px) { // md 768

}
@media (max-width: 767.98px) { // sm 576
  .client-information-box {
    .not-selected-client {
      .box {
        width: 100%;
        min-height: auto;
      }
      .box1 {
        margin-right: 0;
        margin-bottom: 5px;
      }
      .box2 {
        height: 80px;
      }
    }
  }
  .not-selected-client .carousel {
    background: transparent;
  }
  .search-box .down-drop-box .down-drop-icon.minus-ml .dropdown-toggle::after {
    margin-left: 0;
  }
  .sales-page {
    .client-unregistered {
      &>div {
        &:nth-child(odd) {
          padding-right: 15px;
        }
        &:nth-child(even) {
          padding-left: 15px;
        }
      }
      .intro {
        height: auto;
      }
      .add-sales {
        height: 51px;
      }
    }
    .unregistered-sales-today{
      .sales-data{
        padding-top: 35px;
        .intro {
          display: none;
        }
      }
    }
  }
  .client-information-box {
      .info-box-top .client-name-info .client-avatar {
          margin-right: 0.3rem;
      }
  } 
  .client-information-box .info-box-top .box {
      padding: 0.4rem;
  }
  .info-box-top.pc {
      display: none;
  }
  .info-box-top.mobile {
      display: block !important;
  }
  .client-info-invoice {
    .cl-info-inner.pc {
      display: none;
    }
    .cl-info-inner.mobile {
      display: block !important;
    }
  }
  .search-box {
    .custom-checkbox {
      display: none;
    }  
  }
  .btn-group.sales-pc {
    display: none;
  }
}
@media (max-width: 575.98px) { // xs 360
  
}
