.expenditure-history-edit-modal {
  .modal-dialog {
    max-width: 450px;
  }
  .form-wrapper {
    .form-group {
      &.date {
        input {
          width: 100%;
          height: 25px;
          padding: 0 5px;
          border: 1px solid $gray;
        }
      }
      &.item {

      }
      &.payment {

      }
      &.amount {
        
      }
      &.notes {
        textarea {
          text-indent: 0;
          padding: 5px;
        }
      }
    }
  }
}