// ****responsive------------------------
@media screen and (max-width: 590px) {
  main {
    .common-style.misc-codes .col-auto {
      width: 100% !important;
    }
    .common-style.misc-codes .card-header {
      padding: 0 !important;
    }
    .tabs .tab-content {
      margin-top: 50px;
    }
    // modal
    .modal-dialog {
      max-width: 95% !important;
    }
  }
}