.sales-prepaid-services-brief {
  tr {
    td {
      padding: .5%;
      text-align: center;
      vertical-align: middle;
      height: 35px;
      &:first-child {
        text-align: left;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .sales-prepaid-services-brief {
    .prepaid-services-wrapper {
      thead{
        tr{
          th{
              display: table-cell;
          }
        }
      }
      tbody{
        tr{
          td{
            display: table-cell;
          }
        }
      }
    }
  }
}