.certify {
    .btn.default {
        margin: 15px auto;
    }
}
.caller-id-setup-info {
    dl {
        margin-bottom: 10px;
        dt { font-weight: normal; font-size: 13px;}
        dd {font-size: 13px;}
    }
}