.edit-receivable-action-wrapper{
  .modal-body{
    padding-top: 8px !important;
    .client-info{
      margin-bottom: 10px;
    }
    .new-balance{
      margin-bottom: 10px;
    }
    .notes{
      margin-bottom: 10px;
    }
  }
  .modal-footer{
    margin: 0px !important;
    padding :0px !important;
  }
}
