.expenditure-items-page{
  .page-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    h3{
      display: inline-block;
      margin-top: 10px;
      padding-left: 0;
      font-weight: 900;
      font-size: 18px;
    }
    .group-btn {
      float: right;
      .btn {
        color: $white;
      }
    }
  }
  .filter{
    padding:10px;
    background-color: white;
    div{
      &:nth-child(2) {
        text-align: right;
        a{
          font-size: 14px;
          display: inline-block;
          text-align: center;
          color: #3499db;
          padding: 4px 15px;
          background-color: white;
          border-radius: 5px;
          width: 120px;
          height: 33px;
          border: 1px solid #3499db;
          &:hover{
            cursor: pointer;
            background-color: $blue;
            color: $white;
            transition: 0.5s;
          }
        }
      }
    }

  }
  .table-expenditure-items{
    padding: 0px 10px 10px 10px;
    background-color: white;
    .vgt-global-search {
      background: transparent;
      border: 0;
      .vgt-global-search__input {
        display: none;
      }
      .vgt-global-search__actions {
        float: left !important;
        margin-left: 1px;
        .show-inactives {
          float: left;
          margin-top: 5px;
        }
      }
    }
    .vgt-responsive {
      table {
        tbody {
          tr {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
// ****responsive------------------------
@media screen and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
}
@media screen and (max-width: 767.98px) {
}
@media screen and (max-width: 575.98px) {
}
