main{
    background-color: white;
}
td.bg-green {
    background-color: #dce7c8 !important;
    text-align: center !important;
    width: 30%;
}
table.normal td {
    width: 5% !important;
}
td.call-head{
    text-align: center !important;
    font-size: 15pt;
}
.modal-footer{
    justify-content: center !important;
}
textarea.note {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    font: black !important;
}
.btn-action-group {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .btn2 {
        margin: 5px !important;
    }
}
.flr{
    float: right;
    padding-right: 10pxl
}

table tbody tr:hover {
    background: none;
}
table tbody tr td .btn{
    max-width: none;
}