.input-money-calculator-panel-action-modal {
  .modal-dialog {
    width: 341px;
    .modal-body {
      padding: 10px;
    }
    .modal-content {
      max-width: 100%;
      min-height: 300px !important;
    }
  }
}